* {
    box-sizing: border-box;
}
html {
    font-family: "Open Sans", Oswald;
}

header {
    background-color: #004175; 

    border-style: solid;
    border-color: #89DEEF;
    border-bottom-style: solid;
    border-bottom-width: 10px;

    font-size: 24px;
}

h2 {
    font-size: 20px;
}

.dogEntry{ 
    border: 1px solid;
    flex-direction: column;
    flex-wrap: wrap;
    grid-template-columns: auto;
    padding: 1px;
    flex: 6;
}

#main {

align-items: center;
display: flex;
flex-wrap: wrap;
flex-direction: row;
 /* background-color: blue;  */
border: #89DEEF;
}

.dogTag {
    display: inline-block;
    flex-direction: row; 
    flex-wrap: wrap; 
    flex: 0 1 auto;
    background-color: #89DEEF;
    border-radius: 50px;
    width: auto;
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
    margin: 2px;
   
}

img { 
max-width: 400px;
/* padding-bottom: 0px; */
justify-content: space-between;
padding-top: 30px; 
}


footer {

}