html {
    font-family: "Open Sans", Oswald;
}

header {
    background-color: #004175; 

    border-style: solid;
    border-color: #89DEEF;
    border-bottom-style: solid;
    border-bottom-width: 10px;

    font-size: 24px;
}

h2 {
    font-size: 20px;
}

#main {

}

.dog